@page
@model Achar.Endpoint.Razor.Pages.ListHomeServiceModel
@{





    <!-- Find New Property -->
    <section class="gray py-5">
        <div class="container">
            <div class="row">
                <!-- Home Services Start -->
                <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12" id="hotels">
                    <div class="row justify-content-center gx-3">
                        @foreach (var subcategory in Model.HomeService)
                        {
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                                <div class="cats-wrap text-center d-flex flex-column justify-content-between" style="height: 100%;">
                                    <a asp-page="/Service" asp-route-id="@subcategory.Id" class="Goodup-catg-wrap">
                                        <div>
                                            <div class="Goodup-sng-menu-thumb">
                                                @if (!string.IsNullOrEmpty(subcategory.ImageSrc))
                                                {
                                                    <img src="@subcategory.ImageSrc" class="img-fluid" alt="Category Image" width="50" height="50" />
                                                }
                                                else
                                                {
                                                    <span>بدون عکس</span>
                                                }
                                            </div>
                                            <div class="Goodup-catg-caption">
                                                <h4 class="fs-md mb-0 ft-medium m-catrio">عنوان: @subcategory.Title</h4>
                                            </div>
                                            <div class="Goodup-catg-caption">
                                                <h4 class="fs-md mb-0 ft-medium m-catrio">دسته بندی: @subcategory.CategoryName</h4>
                                            </div>
                                            <div class="Goodup-catg-caption">
                                                <h4 class="fs-md mb-0 ft-medium m-catrio">توضیحات: @subcategory.ShortDescription</h4>
                                            </div>
                                            <div class="Goodup-catg-caption">
                                                <h4 class="fs-md mb-0 ft-medium m-catrio">تومان: @subcategory.BasePrice</h4>
                                            </div>
                                        </div>
                                    </a>
                                    <a asp-page="/Service" asp-route-id="@subcategory.Id" class="btn btn-primary mt-2">جزئیات</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- ============================ Main Section End ================================== -->
    <!-- ======================= Newsletter Start ============================ -->
    <section class="space bg-cover" style="background:#03343b url(assets/img/landing-bg.png) no-repeat;">
        <div class="container py-5">

            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="sec_title position-relative text-center mb-5">
                        <h6 class="text-light">عضویت در خبرنامه</h6>
                        <h3 class="ft-bold text-light">دریافت به روز رسانی ها و پیشنهادات پیشرفته</h3>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center">
                <div class="col-xl-7 col-lg-10 col-md-12 col-sm-12 col-12">
                    <form class="bg-white rounded p-1">
                        <div class="row no-gutters">
                            <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-8">
                                <div class="form-group mb-0 position-relative">
                                    <input type="text" class="form-control b-0" placeholder="ایمیل خود را وارد کنید...">
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-4">
                                <div class="form-group mb-0 position-relative">
                                    <button class="btn full-width btn-height bg-dark text-white fs-md" type="button">عضویت</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
}
