@page
@model Achar.Endpoint.Razor.Areas.Customer.Pages.RequestModel
@{
    Layout = "_LayoutCustomer";
    ViewData["Request"] = "active";
}
<form method="post" asp-page-handler="Request" enctype="multipart/form-data">
    <div class="dashboard-list-wraps bg-white rounded mb-4">
        <div class="dashboard-list-wraps-head br-bottom py-3 px-3">
            <div class="dashboard-list-wraps-flx">
                <h4 class="mb-0 ft-medium fs-md">درخواست خدمات</h4>
            </div>
        </div>

        <div class="dashboard-list-wraps-body py-3 px-3">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="mb-1">انتخاب سرویس</label>
                        <select asp-for="@Model.Request.ServiceId" class="form-control">
                            @foreach (var item in Model.Services)
                            {
                                <option value="@item.Id">@item.Title - قیمت @item.BasePrice تومان</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="mb-1">عنوان</label>
                        <input asp-for="@Model.Request.Title" class="form-control rounded" type="text" />
                        <span asp-validation-for="@Model.Request.Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="mb-1">تاریخ</label>
                        <input asp-for="@Model.Request.RequesteForTime" data-jdp data-jdp-min-date="today" class="form-control rounded" />
                        <span asp-validation-for="@Model.Request.RequesteForTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="mb-1">توضیحات</label>
                        <textarea asp-for="@Model.Request.Description" class="form-control rounded ht-80"></textarea>
                        <span asp-validation-for="@Model.Request.Description" class="text-danger"></span>

                    </div>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <label for="formFileLg" class="form-label">آپلود تصاویر</label>
                    <div class="input-group form-group">
                        <input type="text" class="form-control upload-name-photo rounded" readonly />
                        <span class="btn cursor-pointer upload-btn-photo">انتخاب فایل‌ها</span>
                    </div>
                    <input type="file" asp-for="@Model.Request.Images" class="d-none hidden-upload-photo" multiple />
                    <span asp-validation-for="@Model.Request.Images" class="text-danger"></span>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group p-2">
                        <button type="submit" class="btn theme-cl rounded theme-bg-light ft-medium">افزودن</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />

    <script>
        jalaliDatepicker.startWatch({
            minDate: "attr",
            maxDate: "attr",
            minTime: "attr",
            maxTime: "attr",
            hideAfterChange: true,
            autoHide: true,
            showTodayBtn: true,
            showEmptyBtn: true,
            topSpace: 10,
            bottomSpace: 30,
            time:true,
            dayRendering(opt, input) {
                return {
                    isHollyDay: opt.day == 1
                }
            }
        });

        document.getElementById("aaa").addEventListener("jdp:change", function (e) { console.log(e) });


    </script>
    <script>
        document.querySelector('.upload-btn-photo').addEventListener('click', function() {
            document.querySelector('.hidden-upload-photo').click();
        });

        document.querySelector('.hidden-upload-photo').addEventListener('change', function(event) {
            let fileNames = Array.from(event.target.files).map(file => file.name);
            document.querySelector('.upload-name-photo').value = fileNames.join(', ');
        });
    </script>

}
