@page
@model Achar.Endpoint.Razor.Areas.Customer.Pages.UpdateProfModel
@{
}
@{
    Layout = "_LayoutCustomer";
    ViewData["UpdateProf"] = "active";
}
<div class="goodup-dashboard-content">
    <div class="dashboard-tlbar d-block mb-5 text-center">
        <h1 class="fw-bold text-success">پروفایل کاربری</h1>
    </div>

    <div class="dashboard-widg-bar d-block">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12">
                <div class="dashboard-list-wraps bg-light shadow-lg rounded p-4 mb-4 border border-success">
                    <div class="dashboard-list-wraps-head br-bottom pb-3 border-bottom d-flex align-items-center">
                        <h4 class="text-secondary fw-bold"><i class="fa fa-cog ms-2 text-success"></i> تنظیمات پروفایل</h4>
                    </div>
                    <form class="submit-form" method="post" asp-page-handler="Update" enctype="multipart/form-data">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fw-semibold text-success">نام کاربری</label>
                                    <input asp-for=@Model.CustomerUpdate.UserName type="text" class="form-control border-success shadow-sm" />
                                    <span asp-validation-for="@Model.CustomerUpdate.UserName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fw-semibold text-success">نام</label>
                                    <input asp-for=@Model.CustomerUpdate.FirstName type="text" class="form-control border-success shadow-sm" />
                                    <span asp-validation-for="@Model.CustomerUpdate.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fw-semibold text-success">نام خانوادگی</label>
                                    <input asp-for=@Model.CustomerUpdate.LastName type="text" class="form-control border-success shadow-sm" />
                                    <span asp-validation-for="@Model.CustomerUpdate.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fw-semibold text-success">ایمیل</label>
                                    <input asp-for=@Model.CustomerUpdate.Email type="email" class="form-control border-success shadow-sm" />
                                    <span asp-validation-for="@Model.CustomerUpdate.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fw-semibold text-success">شماره تلفن</label>
                                    <input type="number" asp-for=@Model.CustomerUpdate.PhoneNumber class="form-control border-success shadow-sm" />
                                    <span asp-validation-for="@Model.CustomerUpdate.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fw-semibold text-success">انتخاب شهر محل سکونت</label>
                                    <select class="form-control border-success shadow-sm" asp-for="@Model.CustomerUpdate.CityId">
                                        @foreach (var item in Model.Cities)
                                        {
                                            <option value="@item.Id">@item.Title</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fw-semibold text-success">جنسیت</label>
                                    <select asp-for="@Model.CustomerUpdate.Gender" class="form-control border-success shadow-sm">
                                        <option value="1" selected="@Model.CustomerUpdate?.Gender == GenderEnum.Male">آقا</option>
                                        <option value="2" selected="@Model.CustomerUpdate?.Gender == GenderEnum.Female">خانم</option>
                                    </select>
                                    <span asp-validation-for="CustomerUpdate.Gender" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fw-semibold text-success">نام خیابان</label>
                                    <input asp-for=@Model.CustomerUpdate.Street class="form-control border-success shadow-sm" />
                                    <span asp-validation-for="@Model.CustomerUpdate.Street" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="d-flex flex-column align-items-center bg-white rounded p-3 shadow-lg border border-success">
                                    <div class="dash-figure-thumb mb-2">
                                        @if (Model.CustomerUpdate.ProfileImageUrl == null)
                                        {
                                            <img src="~/assets/img/1.png" class="img-fluid rounded-circle shadow-lg border border-success" />
                                        }
                                        else
                                        {
                                            <img src="@Model.CustomerUpdate.ProfileImageUrl" class="img-fluid rounded-circle shadow-lg border border-success" alt="" />
                                        }
                                    </div>
                                    <div class="upload-photo-btn">
                                        <label class="btn btn-dark text-white">
                                            <i class="fas fa-upload"></i> آپلود تصویر
                                            <input type="file" asp-for="@Model.CustomerUpdate.ImageFile" hidden>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-lg btn-dark px-5 shadow-lg">ذخیره تغییرات</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}