@page
@model Achar.Endpoint.Razor.Areas.Customer.Pages.UpdateProfModel
@{
}
@{
    Layout = "_LayoutCustomer";
    ViewData["UpdateProf"] = "active";
}
<div class="goodup-dashboard-content">
    <div class="dashboard-tlbar d-block mb-5">
        <div class="row">
            <div class="colxl-12 col-lg-12 col-md-12">
                <h1 class="ft-medium fs-lg">پروفایل</h1>
            </div>
        </div>
    </div>

    <div class="dashboard-widg-bar d-block">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="dashboard-list-wraps bg-white rounded mb-4">
                    <div class="dashboard-list-wraps-head br-bottom py-3 px-3">
                        <div class="dashboard-list-wraps-flx">
                            <h4 class="mb-0 ft-medium fs-md"><i class="fa fa-file-alt ms-2 theme-cl fs-sm"></i>تنظیمات پروفایل</h4>
                        </div>
                    </div>
                    <form class="submit-form" method="post" asp-page-handler="Update" enctype="multipart/form-data">

                        <div class="dashboard-widg-bar d-block">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-8 col-sm-12">
                                    <div class="dashboard-list-wraps bg-white rounded mb-4">
                                        <div class="dashboard-list-wraps-head br-bottom py-3 px-3">
                                            <div class="dashboard-list-wraps-flx">
                                                <h4 class="mb-0 ft-medium fs-md"><i class="fa fa-user-check ms-2 theme-cl fs-sm"></i>مشخصات شخصی</h4>
                                            </div>
                                        </div>

                                        <div class="dashboard-list-wraps-body py-3 px-3">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="mb-1"> نام کاربری</label>
                                                        <input asp-for=@Model.CustomerUpdate.UserName type="text" class="form-control rounded" />
                                                        <span asp-validation-for="@Model.CustomerUpdate.UserName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="mb-1">نام</label>
                                                        <input asp-for=@Model.CustomerUpdate.FirstName type="text" class="form-control rounded" />
                                                        <span asp-validation-for="@Model.CustomerUpdate.FirstName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="mb-1">نام خانوادگی</label>
                                                        <input asp-for=@Model.CustomerUpdate.LastName type="text" class="form-control rounded" />
                                                        <span asp-validation-for="@Model.CustomerUpdate.LastName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="mb-1"> ایمیل</label>
                                                        <input asp-for=@Model.CustomerUpdate.Email type="email" class="form-control rounded" />
                                                        <span asp-validation-for="@Model.CustomerUpdate.Email" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="mb-1">شماره تلفن</label>
                                                        <input type="number" asp-for=@Model.CustomerUpdate.PhoneNumber class="form-control rounded" />
                                                        <span asp-validation-for="@Model.CustomerUpdate.PhoneNumber" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dashboard-list-wraps-head br-bottom p-3">
                                                <div class="dashboard-list-wraps-flx">
                                                    <h4 class="mb-0 ft-medium fs-md"><i class="fa fa-user-check ms-2 theme-cl fs-sm"></i>آدرس</h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pt-3">
                                                    <div class="form-group">
                                                        <label class="mb-1">انتخاب شهر محل سکونت</label>
                                                        <select class="form-control rounded" asp-for="@Model.CustomerUpdate.CityId">
                                                            @foreach (var item in Model.Cities)
                                                            {
                                                                <option value="@item.Id">@item.Title</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pt-3">
                                                    <div class="form-group">
                                                        <label class="mb-1">جنسیت</label>
                                                        <label asp-for="@Model.CustomerUpdate.Gender" class="control-label"></label>
                                                        <select asp-for="@Model.CustomerUpdate.Gender" class="form-control">
                                                            <option value="1" selected="@Model.CustomerUpdate?.Gender == GenderEnum.Male">آقا</option>
                                                            <option value="2" selected="@Model.CustomerUpdate?.Gender == GenderEnum.Female">خانم</option>
                                                        </select>
                                                        <span asp-validation-for="CustomerUpdate.Gender" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pt-3">
                                                    <div class="form-group">
                                                        <label class="mb-1">نام خیابان</label>
                                                        <input asp-for=@Model.CustomerUpdate.Street class="form-control rounded" />
                                                        <span asp-validation-for="@Model.CustomerUpdate.Street" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label asp-for="CustomerUpdate.ImageFile" class="form-label fw-semibold">عکس</label>
                                                        <input type="file" asp-for="CustomerUpdate.ImageFile" class="form-control">
                                                        <span asp-validation-for="CustomerUpdate.ImageFile" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn theme-bg rounded text-light">ذخیره تغییرات</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}
