@page
@model Achar.Endpoint.Razor.Areas.Account.Page.RegisterModel
@{
}
@{
    Layout = "_Layout";
}

<section class="gray">
    <div class="container">
        <div class="row align-items-start justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-12">

                <div class="signup-screen-wrap">
                    <div class="signup-screen-single light">
                        <div class="text-center mb-4">
                            <h4 class="m-0 ft-medium">ثبت نـام</h4>
                        </div>

                        <form class="submit-form" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger p-3" role="alert"></div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.AccountRegister.UserName" class="mb-1">نام</label>
                                        <input type="text" asp-for="@Model.AccountRegister.UserName" class="form-control rounded">
                                        <span asp-validation-for="@Model.AccountRegister.UserName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.AccountRegister.Password" class="mb-1">رمز عبور</label>
                                        <input type="password" asp-for="@Model.AccountRegister.Password" class="form-control rounded">
                                        <span asp-validation-for="@Model.AccountRegister.Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pt-3">
                                    <div class="form-group">
                                        <label class="mb-1">انتخاب شهر محل سکونت</label>
                                        <select class="form-control rounded" asp-for="@Model.AccountRegister.CityId">
                                            @foreach (var item in Model.Cities)
                                            {
                                                <option value="@item.Id">@item.Title</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="sign-controls form-group">
                                <div class="flex-1">
                                    <input asp-for="@Model.AccountRegister.IsCustomer" id="customer" class="checkbox-custom" type="checkbox" checked>
                                    <label for="customer" class="checkbox-custom-label">مشتری</label>
                                </div>
                                <div class="flex-1">
                                    <input asp-for="@Model.AccountRegister.IsExpert" id="expert" class="checkbox-custom" type="checkbox">
                                    <label for="expert" class="checkbox-custom-label">کارشناس</label>
                                </div>
                            </div>


                            <div class="form-group">
                                <button type="submit" class="btn btn-md full-width theme-bg text-light rounded ft-medium">ثبت نام</button>
                            </div>

                            <div class="form-group text-center mt-4 mb-0">
                                <p class="mb-0">آیا قبلا ثبت نام کرده اید؟ <a asp-page="./Login" class="ft-medium text-success">ورود به حساب کاربری</a></p>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.sign-controls input[type="checkbox"]').click(function () {
                var currentCheckbox = $(this);
                $('.sign-controls input[type="checkbox"]').not(currentCheckbox).prop('checked', false);
            });
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}