@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Achar.Endpoint.Razor.Areas.Expert.Pages.ExpertUpdateModel
@{
    Layout = "_LayoutExpert";
    ViewData["UpdateProf"] = "active";
}

<div class="goodup-dashboard-content">
    <div class="dashboard-tlbar d-block mb-5">
        <div class="row">
            <div class="colxl-12 col-lg-12 col-md-12">
                <h1 class="ft-medium fs-lg">پروفایل</h1>
            </div>
        </div>
    </div>

    <div class="dashboard-widg-bar d-block">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="dashboard-list-wraps bg-white rounded mb-4">
                    <div class="dashboard-list-wraps-head br-bottom py-3 px-3">
                        <div class="dashboard-list-wraps-flx">
                            <h4 class="mb-0 ft-medium fs-md"><i class="fa fa-file-alt ms-2 theme-cl fs-sm"></i>تنظیمات پروفایل</h4>
                        </div>
                    </div>
                    <form class="submit-form" method="post" asp-page-handler="UpdateProfile" enctype="multipart/form-data">

                        <div class="dashboard-widg-bar d-block">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-8 col-sm-12">
                                    <div class="dashboard-list-wraps bg-white rounded mb-4">
                                        <div class="dashboard-list-wraps-head br-bottom py-3 px-3">
                                            <div class="dashboard-list-wraps-flx">
                                                <h4 class="mb-0 ft-medium fs-md"><i class="fa fa-user-check ms-2 theme-cl fs-sm"></i>مشخصات شخصی</h4>
                                            </div>
                                        </div>

                                        <div class="dashboard-list-wraps-body py-3 px-3">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="mb-1"> نام کاربری</label>
                                                        <input asp-for=@Model.ExpertUpdate.UserName type="text" class="form-control rounded" />
                                                        <span asp-validation-for="@Model.ExpertUpdate.UserName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="mb-1">نام</label>
                                                        <input asp-for=@Model.ExpertUpdate.FirstName type="text" class="form-control rounded" />
                                                        <span asp-validation-for="@Model.ExpertUpdate.FirstName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="mb-1">نام خانوادگی</label>
                                                        <input asp-for=@Model.ExpertUpdate.LastName type="text" class="form-control rounded" />
                                                        <span asp-validation-for="@Model.ExpertUpdate.LastName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="mb-1"> ایمیل</label>
                                                        <input asp-for=@Model.ExpertUpdate.Email type="email" class="form-control rounded" />
                                                        <span asp-validation-for="@Model.ExpertUpdate.Email" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="mb-1">شماره تلفن</label>
                                                        <input type="number" asp-for=@Model.ExpertUpdate.PhoneNumber class="form-control rounded" />
                                                        <span asp-validation-for="@Model.ExpertUpdate.PhoneNumber" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dashboard-list-wraps-head br-bottom p-3">
                                                <div class="dashboard-list-wraps-flx">
                                                    <h4 class="mb-0 ft-medium fs-md"><i class="fa fa-user-check ms-2 theme-cl fs-sm"></i>آدرس</h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pt-3">
                                                    <div class="form-group">
                                                        <label class="mb-1">انتخاب شهر محل سکونت</label>
                                                        <select class="form-control rounded" asp-for="@Model.ExpertUpdate.CityId">
                                                            @foreach (var item in Model.Cities)
                                                            {
                                                                <option value="@item.Id">@item.Title</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pt-3">
                                                    <div class="form-group">
                                                        <label class="mb-1">جنسیت</label>
                                                        <label asp-for="@Model.ExpertUpdate.Gender" class="control-label"></label>
                                                        <select asp-for="@Model.ExpertUpdate.Gender" class="form-control">
                                                            <option value="1" selected="@Model.ExpertUpdate?.Gender == GenderEnum.Male">آقا</option>
                                                            <option value="2" selected="@Model.ExpertUpdate?.Gender == GenderEnum.Female">خانم</option>
                                                        </select>
                                                        <span asp-validation-for="ExpertUpdate.Gender" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pt-3">
                                                    <div class="form-group">
                                                        <label class="mb-1">نام خیابان</label>
                                                        <input asp-for=@Model.ExpertUpdate.Street class="form-control rounded" />
                                                        <span asp-validation-for="@Model.ExpertUpdate.Street" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                    <label class="mb-1">مهارت ها</label>
                                                    <select asp-for="@Model.ExpertUpdate.ServiceIds" class="js-example-basic-multiple form-control" multiple="multiple">
                                                        @foreach (var service in Model.Services)
                                                        {
                                                            <option value="@service.Id">@service.Title</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 order-xl-last order-lg-last order-md-last">
                                                    <div class="d-flex bg-white rounded px-3 py-3 mb-3">
                                                        <div class="dash-figure">
                                                            <div class="dash-figure-thumb">
                                                                @if (Model.ExpertUpdate.ProfileImageUrl == null)
                                                                {
                                                                    <img src="~/assets/img/1.png" class="img-fluid rounded" />
                                                                }
                                                                else
                                                                {
                                                                    <img src="@Model.ExpertUpdate.ProfileImageUrl" class="img-fluid rounded" alt="" />
                                                                }
                                                            </div>

                                                            <div class="upload-photo-btn">
                                                                <div class="Uploadphoto">
                                                                    <span><i class="fas fa-upload"></i> آپلود تصویر</span>
                                                                    <input type="file" asp-for="@Model.ExpertUpdate.ImageFile" class="upload">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn theme-bg rounded text-light">ذخیره تغییرات</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2({
                placeholder: "انتخاب مهارت‌ها",
                width: '100%'
            });
        });
    </script>
}